
html, body, div, p, button {
	margin: 0;
	padding: 0;
}

.off {
	background-color: #500;
	color: red;
}

.on {
	background-color: #a00;
	color: yellow;
}

#indicator p {
	font-family: courier, monospace;
	font-size: 3em;
	display: inline-block;
}

button {
	box-sizing: border-box;
	border-radius: 0;
	width: 25%;
	float: left;
	height: 200px;
	display: inline-block;
}

#subdivision-select {
	font-size: 4em;
	box-sizing: border-box;
	display: inline-block;
	width: 25%;
	margin: 0; padding: 0;
	height: 200px;
	vertical-align: middle;
}
